/helmet-detection-train
/codigo-fran/labels/
*/.idea
/.idea
train.cache
/runs
.DS_Store
*/__pycache__
*/.ipynb_checkpoints
*/.vscode
*/.pytest
/train_mini_images/
/train_mini_labels/
/train_mini_videos/
/train_videos/
